.report-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Desktop  */
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
  align-items: start;
  padding: 0 20px;
}

/* Mobile  */
@media (max-width: 768px) {
  .report-container-grid {
    grid-template-columns: 1fr !important; /* Mobile  */
  }
}